In [1]:
import pandas_datareader as pdr
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
# Read in price Data
start = dt.datetime(2021,1,1)
end = dt.datetime.now()

df = pdr.DataReader('ETH-USD', 'yahoo', start, end)
print(df)

                   High          Low         Open        Close       Volume  \
Date
2021-01-01   749.201843   719.792236   737.708374   730.367554  13652004358
2021-01-02   786.798462   718.109497   730.402649   774.534973  19740771179
2021-01-03  1006.565002   771.561646   774.511841   975.507690  45200463368
2021-01-04  1153.189209   912.305359   977.058838  1040.233032  56945985763
2021-01-05  1129.371460   986.811279  1041.498779  1100.006104  41535932781
...                 ...          ...          ...          ...          ...
2022-12-02  1294.303345  1269.243164  1276.328613  1294.303345   6213645709
2022-12-03  1299.840332  1241.431885  1294.456543  1243.334839   5672609405
2022-12-04  1281.492310  1242.911743  1243.219238  1280.256592   5174128454
2022-12-05  1302.237549  1252.472412  1279.998901  1259.676758   6120359523
2022-12-06  1268.411743  1252.200806  1260.305664  1258.171021   5480339456

              Adj Close
Date
2021-01-01   730.367554
2021-01-02   774.534973
2021-01-03   975.507690
2021-01-04  1040.233032
2021-01-05  1100.006104
...                 ...
2022-12-02  1294.303345
2022-12-03  1243.334839
2022-12-04  1280.256592
2022-12-05  1259.676758
2022-12-06  1258.171021

[705 rows x 6 columns]

In [3]:
cols = ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
df = df[cols]
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-01,737.708374,749.201843,719.792236,730.367554,730.367554,13652004358
2021-01-02,730.402649,786.798462,718.109497,774.534973,774.534973,19740771179
2021-01-03,774.511841,1006.565002,771.561646,975.507690,975.507690,45200463368
2021-01-04,977.058838,1153.189209,912.305359,1040.233032,1040.233032,56945985763
2021-01-05,1041.498779,1129.371460,986.811279,1100.006104,1100.006104,41535932781
...,...,...,...,...,...,...
2022-12-02,1276.328613,1294.303345,1269.243164,1294.303345,1294.303345,6213645709
2022-12-03,1294.456543,1299.840332,1241.431885,1243.334839,1243.334839,5672609405
2022-12-04,1243.219238,1281.492310,1242.911743,1280.256592,1280.256592,5174128454
2022-12-05,1279.998901,1302.237549,1252.472412,1259.676758,1259.676758,6120359523
2022-12-06,1260.305664,1268.411743,1252.200806,1258.171021,1258.171021,5480339456

In [4]:
df.to_csv("./data/ETH-USD_2021-2022.csv")